# Docker/Podman
.git/
.dockerignore
Dockerfile*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env*
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Ansible / Test logs
*.log*
tests/output/
