# =====================================================================
# roles/mirror/templates/npmrc.j2
# =====================================================================

registry={{ mirror_info.npm.registry }}
